{% extends 'base.jinja2' %}

{% set page_title = 'Aigents Services' %}

{% block content %}
<div id="app">
    Aigents:<br>
    <button @click="sendAigentsRequest('rss_feed')">Send request to Aigents RSS feeder</button>
    &nbsp;
    <select v-model="aigentsArea" id="aigents_areas">
      <option value="ai">ai</option>
      <option value="business">business</option>
    </select>
    <br>
    <button @click="sendAigentsRequest('social_graph')">Send request to Aigents social grapher</button>
    &nbsp;
    <select v-model="aigentsNetwork">
      <option value="steemit">steemit</option>
      <option value="golos">golos</option>
    </select>
    &nbsp;
    <span style="font-size:12">userid:</span><input v-model="aigentsUserId" type="text"></input>
    <br>
    <button @click="sendAigentsRequest('text_extract')">Send request to Aigents text extractor</button>
    &nbsp;
    <span style="font-size:12;">pattern:</span><input v-model="aigentsPattern"  type="text" size="50"></input>
    &nbsp;
    <span style="font-size:12;">text:</span><input v-model="aigentsText" type="text" size="120"></input>
    <br>
    <textarea rows="10" cols="80" v-model="aigentsRequest"  style="font-size:10"></textarea>
</div>
{% endblock %}

{% block page_js %}
<script>
    var mix = {
      methods: {
        sendAigentsRequest: function(type) {

            var data = {};

            switch(type) {
              case 'rss_feed':
                data = {'area': this.aigentsArea };
                break;
              case 'text_extract':
                data = {'pattern': this.aigentsPattern,'text': this.aigentsText}
                break;
              case 'social_graph':
                data = {'network': this.aigentsNetwork,'userid': this.aigentsUserId}
                break;
            }

             var request = {
                 "jsonrpc": "2.0",
                 "method": "perform",
                 "params": {

                     "service_node_id": "deadbeef-aaaa-bbbb-cccc-100000000001",

                     // Defines the parameters for the list of job items which will be passed to the perform function.
                     "job_params":
                         [
                             {
                                 "input_type": "attached",
                                 "input_data": {"type": type, "data": data},
                                 "output_type": "attached"
                             }
                         ]
                 },
                 "id": 3
             };
             this.ws.send(JSON.stringify(request));
         }
      }
    };
</script>
{% endblock %}
