{% extends 'base.jinja2' %}

{% set page_title = 'RSS Feeder' %}

{% block content %}
<div id="app">
    Aigents:<br>
    <button @click="sendAigentsRequest('rss_feed')">Send request to Aigents RSS feeder</button>
    &nbsp;
    <select v-model="aigentsArea" id="aigents_areas">
      <option value="ai">ai</option>
      <option value="business">business</option>
    </select>
    <br>
    <textarea rows="10" cols="80" v-model="aigentsRequest"  style="font-size:10"></textarea>
</div>
{% endblock %}

{% block page_js %}
<script>
    var mix = {
      methods: {}
    }
</script>
{% endblock %}
