{% extends 'base.jinja2' %}

{% set page_title = 'Text Extractor' %}

{% block content %}
<div id="app">
    Aigents:<br>
    <button @click="sendAigentsRequest('text_extract')">Send request to Aigents text extractor</button>
    &nbsp;
    <span style="font-size:12;">pattern:</span><input v-model="aigentsPattern"  type="text" size="50"></input>
    &nbsp;
    <span style="font-size:12;">text:</span><input v-model="aigentsText" type="text" size="120"></input>
    <br>
    <textarea rows="10" cols="80" v-model="aigentsRequest"  style="font-size:10"></textarea>
</div>
{% endblock %}

{% block page_js %}
<script>
    var mix = {
      methods: {}
    }
</script>
{% endblock %}
