{% extends 'base.jinja2' %}

{% set page_title = 'Texts Clusterer' %}

{% block content %}
<div id="app">
    Aigents:<br>
    <button @click="sendAigentsRequest('texts_cluster')">Send request to Aigents texts clusterer</button>
    &nbsp;
    <span style="font-size:12;">texts:</span><input id="aigents_texts" value="[&quot;http://aigents.com/test/cat/fly.html&quot;,&quot;http://aigents.com/test/cat/eagle.html&quot;,&quot;http://aigents.com/test/cat/snake.html&quot;,&quot;tuna is a fish&quot;,&quot;cat is a mammal&quot;,&quot;http://aigents.com/test/cat/french.html&quot;,&quot;http://aigents.com/test/cat/chinese.html&quot;,&quot;germans live in germany&quot;,&quot;russians live in russia&quot;,&quot;spaniards live in spain&quot;]" type="search" placeholder="JSON array of URLs or short texts" size="190"></input>
    <br>
    <textarea rows="10" cols="80" v-model="aigentsRequest" style="font-size:10"></textarea>
</div>
{% endblock %}

{% block page_js %}
<script>
    var mix = {
      methods: {
        getTexts: function() {
          return document.querySelector("#aigents_texts").value;
        }
      }
    }
</script>
{% endblock %}
