aiohttp
cchardet
uvloop
urllib3

jsonrpcclient
jsonrpcserver

pyaml

# For some reason jsonrpcclient is using this even though we are using the aiohttp implementation - perhaps under the covers?
requests
aiohttp-jinja2
aiohttp-debugtoolbar
aiohttp_session[secure]
